html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid {
    border: 2px solid;
    height: 32em;
    width: 32em;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 2em;
    width: 2em;
}